.App {
  text-align: center;
}
/* 
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  
} */
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 300px;
  width: 100%;
  bottom: 0;
  
}

.App-header {
  background-color: black;
  height: 100%;
  padding: 50px;
  color: white;
  margin: 0;
}

/* .App-header {
  background-color: #222;
  height: 150px;
  padding: 0px;
    color: rgb(15, 15, 15);
} */

.App-title {
  font-size: 1.5em;
  background-color: black;
  color: rgb(255, 255, 255);
  text-align: center;
  
}

.App-intro {
  font-size: large;
  
}

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
